@font-face {
  font-family: Arius;
  src: url(fonts/Arius.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Thule;
  src: url(fonts/SBL_grk.ttf);
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: Arius;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center {
  align-items: center;
  display: inline-block;
  justify-content: center;
  text-align: center;
  max-width: 1300px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 8rem;
  padding-top: 0;
  padding-bottom: 0;
}

.boxBig {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  min-height: 120px;
  overflow: hidden;
  resize: none;
  font-family: Gentium Book Plus;
  font-size: 1.5rem;
}

.btn__cls1 {
  text-transform: uppercase;
}

@font-face {
  font-family: Arius;
  src: url(fonts/Arius.ttf);
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: Arius;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 80px;
  position: sticky;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
  background-color: #131313;
}

.navbar__container {
  height: 80px;
  display: flex;
  width: 100%;
  max-width: 1300px;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0 50px;
  z-index: 1;
}

#navbar__logo {
  background-color: #f0c40f;
  background-image: linear-gradient(to top,#f0c40f 0%, #f6e18f 100%);
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2.1rem;
  text-transform: uppercase;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__link {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 1.2rem;
  text-decoration: none;
  height: 100%;
  cursor: pointer;
  color: white;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  margin:0 20px;
  position:relative;
}

.button {
  display: flex;
  background: #f5c60a;
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size:rem;
  line-height:1;
  position:relative;
  z-index:1;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #082FCA 50%,
    #f5c60a 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
  &:before{
    display:flex;
    content:'';
    width:0;
    height:3px;
    bottom:5px;
    left:0;
    bottom:-3px;
    z-index:0;
    position:absolute;
    background:#082FCA;
    transition: all 0.3s ease-in-out;
  }
  &:hover{
    background-position: 0%;
    &:before{
      width:100%;
    }
  }
}

.navbar__link:hover {
  background-color: #f5c60a;
  transition: all ease 0.3s;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.kb__navbar {
  position: sticky;
  z-index: 999;
  color: red;
}

.kb__navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #131313;
}

.kb__navbar li {
  display: inline-block;
}

.kb__navbar li a {
  color: white;
  text-decoration: none;
}

.kb__navbar ul ul {
  position: absolute;
  top: 100%;
  display: none;
}

.kb__navbar ul ul li {
  display: block;
  box-sizing: border-box;
  align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1rem;
  padding: 0.3rem 0;
}

.kb__navbar ul ul li a {
  width: 100%;
  display: block;
  padding:0;
  font-size: 1rem;
}

.kb__navbar li:hover ul {
  display: block;
  box-sizing: border-box;
  width: 10rem;
}

.kb__navbar ul ul li a:hover {
  background-image: linear-gradient(to right,  #fff, #fff 50%, #f5c60a 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s ease-in-out;
}

.kb__navbar ul ul li a:before{
  content: '';
  background: #f5c60a;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.kb__navbar ul ul li a:hover::before{
  width: 100%;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.2rem;
  }

  .kb__navbar {
    width: 100%;
    margin: 0;
    position: absolute;
    z-index: -2;
    top: 30%;
  }

  #navbar__logo {
    padding-left: 25px;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 3rem;
    width: 100%;
    margin: 0;
    display: flex;
  }

  .button {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    height: 80px;
    box-sizing: border-box;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.navigation {
  justify-content: center;
  padding-left: 0;
  margin-left: 0;
  box-sizing: border-box;
  position: sticky;
  z-index: 999;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #191919;
  flex-flow: nowrap;
  height: calc(100vh - 80px);
}

.gclass:nth-child(even) {
  background: #232323f6;
}

.nav__container {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.gclass {
  width: 25vw;
  align-items: center;
  justify-content: center;
  transition: ease-in 0.3s;
}

.gclass:hover {
  border: 0.15rem solid white;
  opacity: 0.6;
}

/* .txt__menu {
  text-decoration: none;
  list-style: none;
}

.txt__item {
  padding: 4rem 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  list-style: none;
} */

.text__link {
  text-decoration: none;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

.text__link:hover {
  background-color: #f0c40f;
  background-image: linear-gradient(to top,#f0c40f 0%, #f6e18f 100%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
